* {
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
}

body {
    background-color: #F24405;
}

h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    line-height: 3.2rem;
    color: white;
}

p {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding-top: 1.5rem;
}


/* header */

header {
    width: 100%;
    padding: 0 2.5%;
    background-color: #F24405;
    display: flex;
    justify-content: space-between;
}

#title {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 3rem;
    color: white;
}

header p {
    word-spacing: 1rem;
    color: white;
}

@media only screen and (min-width: 550px) and (max-width: 800px) {
    .social {
        display: none;
    }
}


@media only screen and (max-width: 550px) {

    header {
        width: 100%;
        padding: 4rem 0.8rem 5rem 0;
        background-color: #F24405;
    }

    #title {
        font-size: 7rem;
        font-weight: 800;
        white-space: pre-line;
        text-align: center;
        line-height: 6rem;
        width: 100%;
    }

    .social {
        display: none;
    }
}


/* block 1 */

.block_1 {
    display: flex;
    justify-content: start;
}

.block_1_left {
    width: 50%;
    background-image: url(../images/tunnel-runners.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

. block_1_left img {
    width: 100%;
}

.block_1_right {
    width: 50%;
    background-color: #26A65D;
    padding: 3% 5% 5%;
}

@media only screen and (max-width: 550px) {

    .block_1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .block_1_left {
        width: 100%;
        height: 20rem;
        background-image: url(../images/tunnel-runners.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .block_1_right {
        width: 100%;
        background-color: #26A65D;
        padding: 3% 5% 5%;
    }
}


/* block 2 */

.block_2 {
    display: flex;
    justify-content: start;
}

.block_2_left {
    width: 75%;
    background-color: #024091;
    padding: 3% 5% 5%;
}

.block_2_right {
    width: 25%;
    background-image: url(../images/runners-church_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.block_2_left h1 {
    color: lightskyblue;
}

@media only screen and (max-width: 550px) {
    .block_2 {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .block_2_right {
        width: 100%;
        height: 30rem;
        background-image: url(../images/runners-church_2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .block_2_left {
        width: 100%;
        padding: 3% 5% 5%;

    }
}


/* outro */

.outro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background-color: #F24405;
    padding: 3% 5% 5%;
}

.outro h1 {
    width: 60%;
    text-align: center;
}

.block_food {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
    padding: 0 7% 5% 10%;
}

.restaurant {
    width: 8rem;
    margin-bottom: 2rem;
}



@media only screen and (max-width: 550px) {
    .outro {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        background-color: #F24405;
        padding: 3% 5% 10%;
    }

    .outro h1 {
        width: 100%;
        text-align: center;
    }

    .outro p {
        width: 100%;
        text-align: center;
        padding-top: 2rem;
        font- weight: 400;
        color: white;
    }
}

/* footer */

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #F24405;
    padding: 3% 5%;
    color: white;
}

footer p {
    font-size: 0.8rem;
    letter-spacing: 0.3px;
}

@media only screen and (max-width: 550px) {

    footer {
        width: 100%;
        padding: 0 5% 5%;
        display: flex;
        justify-content: center;
    }

    .footer_right {
        display: none;
    }

    footer p {
        font-size: 0.8rem;
        letter-spacing: 0.3px;
    }


}